.App {
  text-align: center;
}

.Separator {
  margin: 20px auto;
  width: 50%;
  border-top: 2px solid gray;
}

.Details {
  margin: 200px auto;
}

.ListTable {
  border: 0;
  width: 50%;
  margin: auto;
}